@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-700 font-semibold text-center text-2xl;
  }

  p {
    @apply text-slate-600 font-normal text-base pb-2;
  }

  .container-narrow {
    @apply px-4 max-w-5xl container mx-auto;
  }
}

@layer components {
  .btn-primary {
    @apply flex py-2 px-3 text-white font-semibold tracking-wide text-sm rounded-sm bg-red-600 capitalize mx-auto justify-center items-center gap-2 hover:bg-red-500 transition duration-200;
  }

  .badge {
    @apply flex justify-center px-2 py-1 mr-2 text-xs font-medium leading-none rounded-full text-gray-600;
  }
  .badge-blue {
    @apply bg-blue-100;
  }
  .badge-green {
    @apply bg-green-100;
  }
  .badge-yellow {
    @apply bg-yellow-100;
  }
  .badge-red {
    @apply bg-red-100;
  }
}

@layer utilities {
  .gradient-header-before {
    content: "";
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -143px;
    left: 0px;
    right: 0px;
    height: 100%;
    /* height: calc(100% + 143px); */
    max-height: 1014px;
    background: linear-gradient(
      90deg,
      theme("colors.red.600") 0%,
      theme("colors.red.600") 100%
    );
  }
  .gradient-header-after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -143px;
    left: 0px;
    right: 0px;
    height: 100%;
    /* height: calc(100% + 143px); */
    max-height: 1014px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
}
